body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  overflow: auto; /* Enable scrolling for content */
}

body::before {
  content: "";
  background: url('/public/landing.png') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.1; /* Set the opacity of the background image */
  position: fixed; /* Position the pseudo-element fixed */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; /* Position the pseudo-element behind the content */
}


.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  width: 100%;
  padding: 14px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  box-sizing: border-box;
}

.form-container button {
  width: 100%;
  padding: 14px 20px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #333;
}

.signup-link {
  margin-top: 20px;
  text-align: center;
}

.signup-link a {
  color: gray;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.signin-link {
  margin-top: 20px;
  text-align: center;
}

.signin-link a {
  color: gray;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}
